body {
    background-color: rgb(65, 33, 33);
}

.head {
    text-align: center;
    color: rgb(250, 184, 2);
    font-style: italic;
    font-family: 'Cinzel Decorative', serif;
}

.list {
    color: cyan;
    font-size: 20px;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 100px;
    transition: all 0.3;
}

.button:hover {
    color: #fafafa; /* White text helps the red glow pop */
    
    /* X-offset: 0 | Y-offset: 0 | Blur: 10px-30px | Color */
    text-shadow: 
        0 0 1px #ff0000,
        0 0 20px #ff0000,
        0 0 30px #ff0000,
        0 0 45px #ff0000;
}