body {
    background-color: #0f172a;
}

.despair {
    color: #a39f9f;
    text-align: center;
    font-size: 60px;
    font-family: 'Bebas Neue', sans-serif;
    transition: all 0.3s ease;
}

.despair:hover{
    text-shadow: 0 0 10px rgb(248, 246, 246),0 0 50px #a39f9f;
}

.info{
    font-size: 35px;
    text-align: left;
    color:white;
}

#a{
    color:#a39f9f;
}

#b{
    color:maroon;
}

#b:hover{
    transition: all 0.3s ease;
    text-shadow: 0 0 10px rgb(245, 247, 248),0 0 20px rgb(253, 0, 0);
}