body {
    background-color: #0f172a;
}

.envy {
    color: #2ed573;
    text-align: center;
    font-size: 60px;
    font-family: 'Bebas Neue', sans-serif;
    transition: all 0.3s ease;
}

.envy:hover{
    text-shadow: 0 0 10px rgb(8, 248, 0),0 0 50px #2ed573;
}

.info{
    font-size: 35px;
    text-align: left;
    color:white;
}

#a{
    color:#2ed573;
}

#b{
    color:maroon;
}

#b:hover{
    transition: all 0.3s ease;
    text-shadow: 0 0 10px rgb(245, 247, 248),0 0 20px rgb(253, 0, 0);
}