body {
    background-color: #0f172a;
}

.gluttony {
    color: #ff7f50;
    text-align: center;
    font-size: 60px;
    font-family: 'Bebas Neue', sans-serif;
    transition: all 0.3s ease;
}

.gluttony:hover{
    text-shadow: 0 0 10px rgb(255, 159, 159),0 0 50px #ff7f50;
}

.info{
    font-size: 35px;
    text-align: left;
    color:white;
}

#a{
    color:#ff7f50;
}

#b{
    color:maroon;
}

#b:hover{
    transition: all 0.3s ease;
    text-shadow: 0 0 10px rgb(245, 247, 248),0 0 20px rgb(253, 0, 0);
}