body {
    background-color: #0f172a;
}

.lust {
    color: #1e90ff;
    text-align: center;
    font-size: 60px;
    font-family: 'Bebas Neue', sans-serif;
    transition: all 0.3s ease;
}

.lust:hover{
    text-shadow: 0 0 10px rgb(245, 245, 245),0 0 50px #1e90ff;
}

.info{
    font-size: 35px;
    text-align: left;
    color:white;
}

#a{
    color:#1e90ff;
}

#b{
    color:aquamarine;
}

#b:hover{
    transition: all 0.3s ease;
    text-shadow: 0 0 10px rgb(245, 247, 248),0 0 20px aquamarine;
}